<!--<app-font-size></app-font-size>-->
<!--<app-bt-hang-ngay></app-bt-hang-ngay>-->
<!--<app-calculator></app-calculator>-->
<!--<app-choice-color></app-choice-color>-->
<!--<app-bt-hang-ngay></app-bt-hang-ngay>-->
<!--<app-hacker-new></app-hacker-new>-->
<!--<app-name-card cardName="Vo Thanh Tin" email="vtt18011997@gmail.com" phone="0985281614"></app-name-card>-->
<!--<app-progress-bar width="50"></app-progress-bar>-->
<!--<app-countdown-timer seconds="10"></app-countdown-timer>-->
<app-test-json-server></app-test-json-server>
